.genre{
    margin-bottom: 1.5em;
    margin-top: 2em;
    &-dropdown{
        margin-left: 2.8em;
        
    }
}


.location{
    margin-bottom: 1.5em;

    &-dropdown{
        margin-left: 1.5em;
    }
}

.btn-success{
    width: 200px;
}

.signup-form{
    margin-top: 4em;
}
