@import '../../colors.scss';

.navbar{
    background-color: $PRIMARY_COLOR !important;
    font-weight: bold;
}

.nav-link {
    color: $TEXT_COLOR !important;
    }

.cambiar-direccion{
    background-color: greenyellow;
    text-decoration: underline !important;
    color: $TEXT_COLOR;
}

.newRes{
    margin-right: 2em;
}