$DARK_PRIMARY_COLOR:#b71c1c;
    
$LIGHT_PRIMARY_COLOR : #F44336;

$PRIMARY_COLOR : #CE0C10;

$TEXT_COLOR : #FFFFFF;

$ACCENT_COLOR : #9E9E9E;

$PRIMARY_TEXT : #212121;

$SECONDARY_TEXT : #535353;

$DIVIDER_COLOR : #BDBDBD;